{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Неверное имя пользователя или пароль. Пожалуйста, попробуйте еще раз</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>У данного пользователя нет доступа к выбранному действию. Вы можете войти под другим пользователем</p>
{% else %}
<p>Войдите в ваш аккаунт</p>
{% endif %}
{% endif %}

<div class="shadowbox">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>

            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td class="form-control">{{ form.username }}</td>
            </tr>

            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td class="form-control">{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

<p style="margin-top:20px">У вас еще нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
<!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}