{% extends "base.html" %}
<div class="content">
    {% block content %}

    {% if form.errors %}
    <p>Неверное имя пользователя или пароль. Пожалуйста, попробуйте еще раз</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>У данного пользователя нет доступа к выбранному действию. Вы можете войти под другим пользователем</p>
    {% else %}
    <h3>Войдите в ваш аккаунт</h3>
    {% endif %}
    {% endif %}

    <div class="shadowbox">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>

                <tr>
                    <td><strong>{{ form.username.label_tag }}</strong></td>
                    <td class="form-control">{{ form.username }}</td>
                </tr>

                <tr>
                    <td><strong>{{ form.password.label_tag }}</strong></td>
                    <td class="form-control">{{ form.password }}</td>
                </tr>
            </table>

            <input class="btn btn-success" type="submit" value="Войти" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

    <h5 class="m-top-20">У вас еще нет аккаунта? </h5><a href="{% url 'register' %}">Зарегистрируйтесь</a>
    <!-- {# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

    {% endblock %}
</div>