{% extends "base.html" %}

<div class="content">
    {% block content %}
    <h2>{{ message }} <br><strong>{{ student.full_name }}</strong></h2><br>


    <div class="shadowbox">
        <div class="form-check">
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Подтвердить выбор</button>
                <!-- <p><input type="submit" value="Подтвердить"></p> -->
            </form>
        </div>
    </div>
    {% endblock %}
</div>