{% extends "base.html" %}

{% block content %}
<h2>Наши контакты:</h2>
<hr>
<p class="m-left-0"><i class="fas fa-bell icons-sm"></i> Контакты взяты несуществующие, просто для заполнения
    страницы</p>
<address class="course-list">
    <strong>ООО "Компания"</strong><br>
    г. Баку, ул. Новая<br>
    д. 2, корпус 4<br>
    <abbr title="Номер телефона">P:</abbr> (+99412) 555-55-55
</address>

<address class="course-list">
    <strong>Контактное лицо</strong><br>
    <a href="mailto:#">first.last_example@gmail.com</a>
</address>
{% endblock %}