{% extends "base.html" %}


{% block content %}
<h1>Категория: {{ category.name }}</h1>

{% if page_obj %}
<ul>
    {% for course in page_obj %}
    <hr>
    <div class="mine-block mine-bl-pos">
        <li class="block-text">
            <a class="mine-ref course-list" href="{{ course.get_absolute_url }}">{{ course.name }}</a>
            {% if perms.students_app.add_performance and perms.students_app.change_performance %}
            <a class="btn btn-mine bottom-ref-left" href="{% url 'add-mark' course.id %}?next={{request.path}}">
                Добавить оценки по курсу</a>
            {% endif %}
            <br>Продолжительность: <strong>{{course.lasting }} мес.</strong>
        </li>
    </div>
    {% endfor %}
</ul>
{% else %}
<p class="info-text"><i class="fas fa-circle-exclamation icons"></i> Курсы выбранной категории пока не доступны. Мы
    работаем над тем, чтобы они появились в нашей программе обучения как можно скорее.</p>
{% endif %}
{% endblock %}


{% block pagination %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="page-current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>
{% endblock %}