{% extends "base.html" %}

<div class="col-sm-9">
    <div class="content">
        {% block content %}
        <div class="mine-block">
            <h1>Курс: {{ course.name }}</h1>

            <p style="font-size: 27px;"><strong>Категория:</strong> {{ course.category }}</p>
            <p class="text"><strong>Описание:</strong> {{ course.summary }}</p>
            <div style="display: flex">
                <p><strong><i class="far fa-calendar-days icons"></i></strong>
                    <span class="icons-text">{{ course.lasting }} мес.</span>
                </p>
                <p><strong><i class="fas fa-money-check-dollar icons"></i></strong>
                    <span class="icons-text"> {{ course.total_cost }} азн</span>
                </p>
                <p><strong><i class="fa-solid fa-star-half-stroke icons"></i></strong>
                    <span class="icons-text">{% if course.rating_count is not None %}{{ course.rating_count }}
                        {% else %}Нет отзывов{%endif %}</span>
                </p>
            </div>
        </div>
        <hr>
        <p class="text-muted m-left-0">Количество просмотров: {{ course.views_num }}</p>
        <a class="btn btn-mine m-top-20" href="{% url 'student-request' course.id%}">Подать заявку</a>

        <!-- для авторизованных и НЕ сотрудников-->

        <p class="m-top-20"><i class="fas fa-thumbs-up icons"></i>
            <span class="m-top-20 title">Отзывы ({{ reviews.count }})</span>
        </p>
        {% if user.is_authenticated and not user.is_staff %}
        <p><strong>Здесь вы можете добавить свой отзыв</strong></p>
        <div class="shadowbox">
            <form action="" method="post">
                <!-- {{ form.as_p }} -->
                <p>{{ form.text }}</p>
                <p><b>Оцените курс</b></p>
                <fieldset class="row row-cols-lg-auto g-3 align-items-center" id="radio_rate">
                    {% for radio in form.rate %}
                    <label class="btn btn-secondary" for="{{ radio.id_for_label }}">
                        {{ radio.choice_label }}
                        <span>{{ radio.tag }}</span>
                    </label>
                    {% endfor%}
                </fieldset>
                {% csrf_token %}
                <p><button type="submit"><strong>Отправить</strong></button>
                    <button type="reset"><strong>Очистить данные</strong></button>
                </p>
                <!-- <p><input type="submit" value="Подтвердить"></p> -->
            </form>
        </div>
        {% endif %}
        <hr>

        {% for review in reviews %}
        <div class="review-div">
            <!-- <div class="rev-name"> -->
            <p class="rev-p"><strong>{{review.student.full_name}}</strong>
                <em><span class="rev-line"> {{review.added}}</span></em>
                <span class="rev-line">Оценка курса: <b>{{ review.rate }}</b></span>
            </p>
            <!-- </div> -->
            <div class="mine-block">
                <p><em>{{ review.text }}</em></p>
            </div>
        </div>
        {% endfor %}

        {% if user.is_staff %}
        <hr>

        <div class="m-top-20">
            <p><i class="fas fa-users icons"></i><span class="title">
                    Студенты{% if students %} ({{ students.count }}){% endif %}</span></p>
            {% if students %}
            <ol>
                {% for student in students %}
                <li class="m-top-20"><a class="mine-ref student" href="{{ student.get_absolute_url }}">
                        {{ student.full_name|upper }}</a>
                    <span class="mark-line"><em>Средний балл: <strong>{{student.average_mark}}</strong></em></span>
                </li>
                {% endfor %}
            </ol>
            {% else %}
            <p class="info-text"> <i class="fas fa-circle-exclamation icons"></i>На данном курсе нет активных студентов
            </p>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}
    </div>
</div>