{% extends "base.html" %}

{% block title %}Регистрация оплаты{% endblock %}


{% block content %}
<h1>Регистрация оплаты студента</h1>
<h4 class="{% if form.errors %}text-danger{% else %}text-success{% endif %}">{{ message }}</h4>

<div class="shadowbox">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><button type="submit"><strong>Подтвердить</strong></button>
            <button type="reset"><strong>Очистить данные</strong></button>
        </p>
        <!-- <p><input type="submit" value="Подтвердить"></p> -->
    </form>
</div>
{% endblock %}