{% extends "base.html" %}


{% block content %}
<h4>Добавьте ваше фото</h4>
<div class="shadowbox">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><button type="submit"><strong>Добавить</strong></button>
            <button type="reset"><strong>Очистить данные</strong></button>
        </p>
        <!-- <p><input type="submit" value="Подтвердить"></p> -->
    </form>
</div>

{% if image %}
<h3>Изображение загружено успешно!</h3>
<img src="{{ image.url}}" alt="connect" style="max-height:300px">
<hr>
<p><button type="button"><a href="{% url 'profile' %}">Вернуться в личный кабинет</a></button></p>
{% endif %}
{% endblock %}