{% extends "base.html" %}


{% block content %}
<h2 style="text-align: left">Добавьте ваше фото</h2>
<div class="shadowbox">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="form-actions">
            <button type="submit" class="btn btn-success bottom-ref-left-top"><strong>Подтвердить</strong></button>
            <button type="reset" class="btn btn-danger bottom-ref-left-top">
                <strong>Очистить данные</strong></button>
        </div>
    </form>
</div>

{% if image %}
<hr>
<p><i class="fas fa-wand-magic-sparkles icons-sm"></i> <span class="info-text">Изображение загружено успешно!</span></p>
<img src="{{ image.url}}" alt="connect" style="max-height:300px">
<hr>
<a class="btn btn-mine bottom-ref-left" href="{% url 'profile' %}">Вернуться в личный кабинет</a>
{% endif %}
{% endblock %}