{% extends "base.html" %}

{% block content %}
<h4>Личный кабинет пользователя: {{ user.first_name }} {{ user.last_name }}</h4>
{% for student, payments in stud_pay.items %}

<h3>Курс: {{student.course }}</h3>
<h4>Студент: {{ student.full_name }}</h4>

{% if student.photo %}
<p class="photo">
    <img src="{{ student.photo.url }}" class="img-responsive" style="width: 30%; float: right; margin-right: 50px;"
        alt="Ваше фото">
    <!-- class="img-responsive" style="width: 100%; float: left; margin-right: 10px;"  -->
</p>
<p style="margin-bottom:20px;"><a href="{% url 'add-photo' student.pk %}">Изменить фото</a></p>
{% else %}
<button type="button" style="margin-bottom:20px;"><a href="{% url 'add-photo' student.pk %}">Добавить фото</a></button>
{% endif %}
<p><strong>Телефон:</strong> {{student.phone}}</p>
<p><strong>E-mail:</strong> {{student.related_user.email}}</p>
<p><strong>Дата рождения:</strong> {{student.date_of_birth|date:"d.m.Y"}} г.</p>
<button type="button"><a href="{% url 'student-update' student.id%}">Редактировать данные</a></button>
{% if student.status == 'r' %}
<br>
<h4><strong>Ваша заявка находится на рассмотрении</strong></h4>
<p><strong>Дата подачи заявки:</strong> {{student.request_date|date:"d.m.Y"}} г.</p>
{% else %}
<div style="margin-top:20px; margin-bottom:20px;">
    <!-- <p><strong>Курс:</strong> {{student.course }}</p> -->
    <p><strong>Дата регистрации:</strong> {{student.reg_date|date:"d.m.Y"}} г.</p>
    <p><strong>Средний балл:</strong> {{student.average_mark}}</p>
</div>
<p class="{% if student.is_paid %}text-success{% elif not payments %}text-danger{% else %}text-warning{% endif %}">
    Статус оплаты: {% if student.is_paid %}Оплачено полностью
    {% elif not payments %}Оплаты нет
    {% else %}Оплачено частично{% endif %}</p>
<hr>
<div style="margin-left:20px;margin-top:20px">
    <h4><strong>Данные оплаты</strong></h4>
    <br>
    <p class="text-success"><strong>Общая стоимость обучения: {{ student.course.total_cost}} азн</strong>
    </p>
    <p class="text-warning"><strong>Остаток для оплаты: {{ student.rest_of_payment}} азн</strong>
    </p><br>
    {% if payments %}
    <p><b>ПЛАТЕЖИ</b></p>
    {% for payment in payments %}
    <ol>
        <li><strong>Сумма: </strong>{{ payment.amount }} азн
            <ul>
                <li>Дата:
                    </strong>{{ payment.paid_date|date:"d.m.Y" }} г.</li>
                {% if payment.document %}
                <li><strong>Документ, подтверждающий оплату: </strong>
                    <a href="{{ payment.document.url }}">{{ payment.document.name }}</a>
                </li>
                {% else %}
                <li class="text-danger" style='list-style-type:none'>(документ, подтверждающий оплату, отсутствует)</li>
                {% endif %}
            </ul>
        </li>
    </ol>
    <!-- <p><strong>Дата оплаты: </strong>{{ payment.paid_date|date:"d.m.Y" }} г.</p>
    <p><strong>Сумма: </strong>{{ payment.amount }} азн</p> -->
    {% endfor %}
    {% else %}<p>Нет зарегистрированных платежей</p>
    {% endif %}
</div>


{% endif %}
{% endfor %}
<div style="margin-top:20px; margin-bottom:20px;">
    <p class="text-muted">Дата последнего посещения: {{ visit_date|date:"d.m.Y" }}</p>
</div>
{% endblock %}