{% extends "base.html" %}


{% block content %}
<h4 class="mine-block block-text">
    Личный кабинет пользователя: {{ user.first_name|upper }} {{ user.last_name|upper }}
</h4>
{% for student, payments in stud_pay.items %}

<h2>Курс: {{student.course }}</h2>

{% if student.photo %}
<p>
    <img src="{{ student.photo.url }}" class="img-profile" alt="Ваше фото">
</p>
<p><a href="{% url 'add-photo' student.pk %}">Изменить фото</a></p>
{% else %}
<a class="btn btn-mine bottom-ref-left" href="{% url 'add-photo' student.pk %}">Добавить фото</a>
{% endif %}
<p><i class="fas fa-phone-volume icons-sm"></i><strong> Телефон:</strong> {{student.phone}}</p>
<p><i class="fas fa-envelope-open-text icons-sm"></i><strong> E-mail:</strong> {{student.related_user.email}}</p>
<p><i class="fas fa-cake-candles icons-sm"></i><strong> Дата рождения:</strong> {{student.date_of_birth|date:"d.m.Y"}}
    г.</p>
<a class="btn btn-mine bottom-ref-left" href="{% url 'student-update' student.id%}">Редактировать данные</a>
{% if student.status == 'r' %}
<br>
<p class="pay-status"><strong>Ваша заявка находится на рассмотрении</strong></p>
<p><i class="fas fa-calendar-days icons-sm"></i><strong> Дата подачи заявки:</strong>
    {{student.request_date|date:"d.m.Y"}} г.
</p>
{% else %}
<div class="m-top-bot-20">
    <p><i class="fas fa-calendar-days icons-sm"></i><strong> Дата регистрации:</strong>
        {{student.reg_date|date:"d.m.Y"}} г.</p>
    <p><i class="fas fa-medal icons-sm"></i><strong> Средний балл:</strong> {{student.average_mark}}</p>
</div>
<div class="mine-block">
    <p class="pay-status">Статус оплаты:
        {% if student.is_paid %}
        <span class="text-success mark-line"><strong>Оплачено полностью</strong></span>
        {% elif not payments %}
        <span class="text-danger mark-line"><strong>Оплаты нет</strong></span>
        {% else %}
        <span class="text-warning mark-line"><strong>Оплачено частично</strong></span>
        {% endif %}
    </p>
</div>
<hr>
<div class="bottom-ref-left-top">
    <p class="pay-status">Общая стоимость обучения:
        <span class="text-success"><strong>{{ student.course.total_cost}} азн</strong></span>
    </p>
    <p class="pay-status">Остаток для оплаты:
        <span class="text-danger"><strong>{{ student.rest_of_payment}} азн</strong></span>
    </p>

    {% if payments %}
    <p class="pay-status"><b>ПЛАТЕЖИ</b></p>
    <ol>
        {% for payment in payments %}

        <li><strong>Оплата: {{ payment.amount }} азн</strong>
            <a class="btn btn-mine bottom-ref-left" href="{% url 'payment-update' student.id payment.id %}">
                Редактировать данные</a>
            <ul>
                <li style='list-style:none'><strong>Дата:</strong> {{ payment.paid_date|date:"d.m.Y" }} г.</li>
                {% if payment.document %}
                <li style='list-style:none'><strong><a href="{{ payment.document.url }}">Документ</a></strong>,
                    подтверждающий оплату:

                </li>
                {% else %}
                <li style='list-style:none'><i class="fas fa-triangle-exclamation icons-sm"></i>
                    документ, подтверждающий оплату, отсутствует</li>
                {% endif %}
        </li>
        </ul>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <p class="text-danger"><i class="fas fa-triangle-exclamation icons-sm"></i> Нет зарегистрированных платежей!
    </p>
    {% endif %}
</div>


{% endif %}
{% endfor %}
<div class="pagination">
    <p class="text-muted">Дата последнего посещения: {{ visit_date|date:"d.m.Y" }}</p>
</div>
{% endblock %}