{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}


{% block content %}
<h1>Создание нового пользователя</h1>
<h4 class="{% if form.errors %}text-danger{% else %}text-success{% endif %}">{{ message }}</h4>

<div class="shadowbox">
    <form action="." method="post">
        {% csrf_token %}
        {{ user_form.as_p }}

        <!-- <p><input type="submit" value="Создать аккаунт"></p> -->
        <p><button type="submit"><strong>Создать аккаунт</strong></button>
            <button type="reset"><strong>Очистить данные</strong></button>
        </p>
    </form>
</div>
{% endblock %}