{% extends "base.html" %}

{% block content %}
<h2 style="text-align: left">Создание нового пользователя</h2>
<h4 class="{% if form.errors %}text-danger{% else %}text-success{% endif %}">{{ message }}</h4>

<div class="shadowbox">
    <form action="." method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <div class="form-actions">
            <button type="submit" class="btn btn-success bottom-ref-left-top"><strong>Подтвердить</strong></button>
            <button type="reset" class="btn btn-danger bottom-ref-left-top">
                <strong>Очистить данные</strong></button>
        </div>
    </form>
</div>
{% endblock %}