{% extends "base.html" %}

{% block content %}
<h1>{{ student.full_name|upper }}</h1>
<hr>
{% if student.photo %}
<p>
    <img src="{{ student.photo.url }}" class="img-student" alt="Ваше фото">
</p>
{% endif %}
<p><i class="fas fa-phone-volume icons-sm"></i><strong> Телефон:</strong> {{student.phone}}</p>
<p><i class="fas fa-envelope-open-text icons-sm"></i><strong> E-mail:</strong> {{student.related_user.email}}</p>
<p><i class="fas fa-cake-candles icons-sm"></i><strong> Дата рождения:</strong> {{student.date_of_birth|date:"d.m.Y"}}
    г.</p>
<p><i class="fas fa-user-graduate icons-sm"></i><strong> Курс:</strong> {{student.course }}</p>
{% if student.status == 'r' %}

<p><i class="fas fa-calendar-days icons-sm"></i><strong> Дата подачи заявки:</strong>
    {{student.request_date|date:"d.m.Y"}} г.
</p>
<a class="btn btn-mine bottom-ref-left-top"
    href="{% url 'student-approve' student.pk %}?next={{request.path}}">Обработать заявку</a>
{% else %}
<div class="m-top-bot-20">

    <p><i class="fas fa-calendar-days icons-sm"></i><strong> Дата регистрации:</strong>
        {{student.reg_date|date:"d.m.Y"}} г.</p>
    <p><i class="fas fa-medal icons-sm"></i><strong> Средний балл:</strong> {{student.average_mark}}</p>
    {% if student.is_finished and student.status != 'f' %}
    <a class=" btn btn-mine bottom-ref-left"
        href="{% url 'student-archive' student.pk %}?next={{request.path}}">Добавить в архив</a>
    {% endif %}
</div>
{% if student.status == 'f' %}
<p class="text-danger"><strong>Обучение завершено</strong></p>
{% endif %}
<hr>
<div class="mine-block">
    <p class="pay-status">Статус оплаты:
        {% if student.is_paid %}
        <span class="text-success mark-line"><strong>Оплачено полностью</strong></span>
    </p>
    {% else %}
    {% if not payments %}
    <span class="text-danger mark-line"><strong>Оплаты нет</strong></span></p>
    {% else %}
    <span class="text-warning mark-line"><strong>Оплачено частично</strong></span></p>
    {% endif %}

    {% if perms.students_app.add_payment and perms.students_app.change_payment %}
    <p><a class="btn btn-mine" href="{% url 'student-payment' student.id  %}">Добавить данные по оплате</a></p>
    {% endif %}
    {% endif %}
</div>
<hr>
<div class="bottom-ref-left-top">
    <h2>Данные оплаты</h2>
    <p class="pay-status">Общая стоимость обучения:
        <span class="text-success"><strong>{{ student.course.total_cost}} азн</strong></span>
    </p>
    <p class="pay-status">Остаток для оплаты:
        <span class="text-danger"><strong>{{ student.rest_of_payment}} азн</strong></span>
    </p>

    {% if payments %}
    <p class="pay-status"><b>ПЛАТЕЖИ</b></p>
    <ol>
        {% for payment in payments %}

        <li class="m-top-15"><strong>Оплата: {{ payment.amount }} азн</strong>
            {% if perms.students_app.add_payment and perms.students_app.change_payment %}
            <a class="btn btn-mine bottom-ref-left" href="{% url 'payment-update' student.id payment.id %}">
                Редактировать платеж</a>
            {% endif %}
            <ul>
                <li style='list-style:none'><strong>Дата:</strong> {{ payment.paid_date|date:"d.m.Y" }} г.</li>
                {% if payment.document %}
                <li style='list-style:none'><strong><a href="{{ payment.document.url }}">Документ</a></strong>,
                    подтверждающий оплату:

                </li>
                {% else %}
                <li style='list-style:none'><i class="fas fa-triangle-exclamation icons-sm"></i>
                    документ, подтверждающий оплату, отсутствует</li>
                {% endif %}
        </li>
        </ul>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <p class="text-danger"><i class="fas fa-triangle-exclamation icons-sm"></i> Нет зарегистрированных платежей!
    </p>
    {% endif %}
</div>
{% endif %}
{% endblock %}