{% extends "base.html" %}

{% block content %}
<h1>{% if status == 'r' %}Заявки на обучение{% elif status == 'a' %}Список студентов
    {% elif status == 'f' %}Архив студентов{% endif %}</h1>
<hr>

{% if student_list %}
{% for course in page_obj %}

<ul>
    <li>
        <p class="course-name"><strong>{{ course.name }} ({{course.category}})</strong></p>
    </li>
    <ol>
        {% for student in student_list %}
        {% if student.course == course %}
        <li>
            <a class="student" href="{{ student.get_absolute_url }}">{{ student.full_name }}</a>
            {% if status == 'r' %}
            <p class="m-10"><em>Дата подачи заявки: {{student.request_date|date:"d.m.Y"}}</em>
                <a class="btn btn-success left-20" href="{% url 'student-approve' student.pk %}?next={{request.path}}">
                    Обработать заявку</a>
            </p>{% endif %}
            {% if status == 'a' %}
            <p class="m-10"><em>Дата регистрации: {{student.reg_date|date:"d.m.Y"}}</p>{% endif %}</em>
            {% if student.is_finished and student.status != 'f' %}
            <p class="{% if student.is_finished %}text-danger{% endif %} m-10"">Срок обучения завершился
                <a class=" btn btn-danger left-20" href="{% url 'student-archive' student.pk %}?next={{request.path}}">
                Добавить в архив</a>
            </p>{% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ol>
</ul>

{% endfor %}
{% else %}
<p>{% if status == 'r' %}К сожалению, новых заявок на обучение нет
    {% elif status == 'a' %}Студентов нет
    {% elif status == 'f' %}Архив студентов пуст{% endif %}</p>
{% endif %}
{% endblock %}
{% block pagination %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="page-current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>
{% endblock %}