{% extends "base.html" %}

<div class="content">
    {% block content %}
    <h2 style="text-align: left">Личные данные студента</h2>
    <h4 class="{% if form.errors %}text-danger{% else %}text-success{% endif %}">{{ message }}</h4>

    <div class="shadowbox">
        <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <div class="form-actions">
                <button type="submit" class="btn btn-success bottom-ref-left-top"><strong>Подтвердить</strong></button>
                <button type="reset" class="btn btn-danger bottom-ref-left-top">
                    <strong>Очистить данные</strong></button>
            </div>
        </form>
    </div>
    {% endblock %}
</div>