.sidebar-nav {
  margin-top: 20px;
  padding-left: 20px;
  list-style: none;
  color: rgb(71, 80, 82);
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 20;
  background-color: #efefef;
}

header {
  background: rgb(255 255 255);
  text-align: center;
  border: 5px solid rgb(183, 186, 187);
}

header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}

.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}

aside {
  margin-top: 20px;
  background: rgb(255 255 255);
  padding-bottom: 20;
  border: 5px solid rgb(183, 186, 187);
  height: 100vh;
}

/* для текста пример*/
/* aside .text {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  position: relative;
  top: -5px;
}

aside h3 {
  margin-top: 50px;
  font-size: 25px;
} */

aside ul li {
  color: rgb(6, 102, 102);
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

aside a {
  display: block;
  transition: all .3s ease;
}

aside a:hover {
  color: #ad1c09;
  text-decoration: none;
  transform: scale(1.1);
}

/* aside {
  float: left;
  background: rgb(255 255 255);
  width: 20%;
  padding: 2.5%;
  height: 100vh;
  color: #404040;
  border-right: 5px solid #404040;
} */

.content {
  margin-top: 20px;
  background-color: rgb(255 255 255);
  padding: 40;
}

nav {
  display: table;
  margin: 0 auto;
}


nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}


.topmenu:after {
  content: "";
  display: table;
  clear: both;
}

.topmenu>li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.topmenu>li>a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #404040;
  padding: 15px 40px;
}

.topmenu li a:hover {
  color: #D5B45B;
}

.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}

.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}

.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.submenu li:last-child a {
  border-bottom: none;
}

.topmenu>li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.shadowbox {
  width: 50%;
  border: 1px solid hwb(0 20% 80%);
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

#radio_rate {
  font-size: 20px;
  color: #312d2d;
  align-items: center;
  padding: 5px 15px 15px 5px;
  display: flex;
  justify-content: space-between;
}

/* https://itproger.com/course/django/5 
https://getbootstrap.com/docs/5.3/forms/checks-radios/
*/