.sidebar-nav {
  overflow: hidden;
  margin-top: 35px;
  margin-left: 20px;
  list-style: none;
  color: rgb(71, 80, 82);
  /* display: block;
  background-color: #ccc; */
  /* padding-left:20px; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-content: center; */
  /* justify-content: space-evenly;
  align-items: baseline;
  */

}

* {
  box-sizing: border-box;
}

body {
  margin: 20;
  background-color: #efefef;
}

body h1,
body h2 {
  text-align: center;
}

h1,
h3,
h4,
h5 {
  color: rgb(89, 11, 134);
  padding-bottom: 20px;
}

h2 {
  color: rgb(137, 127, 144);
  -webkit-text-stroke: 0.5px rgb(45, 2, 69);
  padding-bottom: 20px;
}

body p {
  /* max-width: 800px; */
  margin: 10px auto 10px 20px;
}

header {
  background: linear-gradient(to bottom right, white, rgb(250, 247, 248), rgb(254, 244, 244));
  text-align: center;
  border: 5px solid rgb(183, 186, 187);
  border-radius: 9px;
}

header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}


.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}

aside {
  margin-top: 20px;
  background: linear-gradient(to bottom right, white, rgb(250, 247, 248), rgb(254, 244, 244));
  padding-bottom: 20;
  border: 5px solid rgb(183, 186, 187);
  height: 100vh;
  border-radius: 9px;
}

.m-left-0 {
  margin-left: 0px;
}

/* для текста пример*/
/* aside .text {
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  position: relative;
  top: -5px;
}
*/

aside ul li {
  color: #530856;
  display: block;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  /* -webkit-text-stroke: 0.5px #f81d1d; */
}


.mine-block {
  display: block;
  background: linear-gradient(to bottom right, white, rgb(250, 247, 248), #a3859f);
  border: 1px solid rgb(183, 186, 187);
  border-radius: 9px;

}

.mine-bl-pos {
  padding: 10px auto 10px 15px;
}

.block-text {
  position: relative;
  padding: 10px 20px;
}

.review-div {
  display: block;
  position: relative;
  margin: 15px auto;
}

.rev-p {
  margin: 0;
  padding-left: 20px;
}

.rev-line {
  font-size: 14px;
  padding-left: 20px;
}

.mark-line {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  color: rgb(89, 11, 134);
}

.mine-ref {
  color: rgb(96, 81, 104);
  /* text-decoration: none; */
}

.course-list {
  font-weight: bold;
  font-size: 20px;
}

.mine-ref:hover {
  color: #a5aae9;
  text-decoration: none;
  /* transform: scale(1.1); */
}

aside a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  transition: transform .3s ease;
  color: rgb(153 0 62);
}

.no-decor {
  text-decoration: none;
}

aside a:hover {
  color: rebeccapurple;
  text-decoration: none;
  transform: scale(1.1);
}

.student {
  font-weight: bold;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.student:hover {
  font-size: large;
  color: #f31919;

}

.m-top-15 {
  margin-top: 15px;
  /* margin-left: 0px;
  font-size: 15px; */
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-bot-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bottom-ref-left {
  margin-left: 20px;
}

.bottom-ref-left-top {
  margin-left: 20px;
  margin-top: 20px;
}

.icons {
  font-size: 25px;
  padding-right: 25px;
}

.icons-sm {
  padding-right: 10px;
}

.right-icons {
  padding-left: 15px;
  font-size: 25px;
}

.icons-text {
  /* padding-left: 20px; */
  color: rgb(60, 3, 94);
  font-weight: bold;
  font-size: 18px;
}

/* aside {
  float: left;
  background: rgb(255 255 255);
  width: 20%;
  padding: 2.5%;
  height: 100vh;
  color: #404040;
  border-right: 5px solid #404040;
} */

.content {
  margin: 20 auto;
  padding: 40;
  /*background: linear-gradient(to bottom right, white, rgb(250, 247, 248), rgb(249, 229, 229));*/
}

.pagination {
  margin-top: 50px;
  margin-left: 30px;
}


.btn-mine {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a3859f;
  --bs-btn-border-color: #a3859f;
  --bs-btn-hover-color: #1d1c1c;
  --bs-btn-hover-bg: #a3859f;
  --bs-btn-hover-border-color: #a3859f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a3859f;
  --bs-btn-active-border-color: #a3859f;
  --bs-btn-active-shadow: inset 0 3px 5px #a3859f;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a3859f;
  --bs-btn-disabled-border-color: #6f68913;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5f8d77;
  --bs-btn-border-color: #5f8d77;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5f8d77;
  --bs-btn-hover-border-color: #5f8d773;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5f8d77;
  --bs-btn-active-border-color: #5f8d77;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5f8d77;
  --bs-btn-disabled-border-color: #5f8d77;
}

nav {
  display: table;
  margin: 0 auto;
}


nav ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}


.topmenu:after {
  content: "";
  display: table;
  clear: both;
}

.topmenu>li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.topmenu>li>a {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #404040;
  padding: 15px 40px;
}

.topmenu li a:hover {
  color: #D5B45B;
}

.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}

.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}

.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.submenu li:last-child a {
  border-bottom: none;
}

.topmenu>li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}

.shadowbox {
  width: 50%;
  border: 1px solid hwb(0 20% 80%);
  border-radius: 9px;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

#radio_rate {
  font-size: 20px;
  color: #312d2d;
  align-items: center;
  padding: 5px 15px 15px 5px;
  display: flex;
  justify-content: space-between;
}

.info-text {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}

.text-warning {
  --bs-text-opacity: 1;
  color: rgb(213 123 7) !important;
  font-size: 20px;
}

.text-success {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
  font-size: 20px;
}

.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important;
  font-size: 20px;
}

.pay-status {
  color: rgb(71, 80, 82);
  font-size: 20px;
}

.img-profile {
  max-height: 250px;
  float: right;
}

.text-width {
  text-align: justify;
  font-size: 17px;
  padding: 10px 20px;
}

.text-20 {
  font-size: 20px;
}

/* https://itproger.com/course/django/5 
https://getbootstrap.com/docs/5.3/forms/checks-radios/
http://mybootstrap.ru/base-css/
https://www.bootstrapcdn.com/ 
https://fontawesome.com/ - иконки
*/